server:
  port: 8081
spring:
  application:
    name: authentication

  profiles:
    active: dev
#database
  datasource:
    url: jdbc:postgresql://localhost:5432/authapplicatiodb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: HikariCP
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 10000000
      validation-timeout: 5000
      leak-detection-threshold: 0
      initialization-fail-timeout: 1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
#logging
#logging:
#  level:
#    org:
#      hibernate:
#        SQL: DEBUG
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE
#email